.App {
  background-color: transparent;
}

.text-overide {
  color: black;
}

.bg-over {
  background-color: transparent;
}

.hdo-back {
  background-color: #e2f1b3;
}

.btn-back-color {
  background-color: #eff9d5;
}

.form-align {
  text-align: left;
}