body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-overide {
  color: black;
}

.bg-over {
  background-color: transparent;
}

.hdo-back {
  background-color: #eff9d5;
}

.btn-back-color {
  background-color: #eff9d5;
}
